body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    vertical-align: middle;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 69px;
    margin-top: 5px;
}


/*nav ul {
    text-align: right;
}*/

.logo {
    margin-top: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    min-width: 33%;
    list-style-type: none;
    letter-spacing: 1px;
}

.nav-links a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: blueviolet;
}

a:active {
    color: #6D0062;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
}

.burger {
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 10%;
    }
}

@media screen and (max-width: 760px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        top: 8vh;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%, 0%);
        transition: transform 500ms ease-in;
    }
    .nav-links {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .nav-active {
        transform: translate(0, 0);
    }
}