body {
    font-size: 1.2em;
}

#app {
    width: 90%;
    margin: auto;
}

img {
    max-width: 100%;
}

.d,
.e,
.f,
.g,
.h,
.i,
.j,
.k,
.l,
.m,
.n,
.o {
    display: none;
}

.grid {
    height: 3000px;
    width: 900px;
    margin: auto;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(12, 1fr);
}


/* set 1: repurposed living */

.a {
    grid-area: 1 / 3 / 5 / 13;
}

.b {
    grid-area: 2 / 2 / 3 / 4;
    z-index: 5;
}

.c {
    grid-area: 4 / 1 / 5 / 4;
}


/* set 2: angles */

.d {}

.e {}

.f {}


/* set 3: pattern play */

.g {}

.h {}

.i {}


/* set 4: healing house */

.j {}

.k {}

.l {}


/* set 5: curved perfection */

.m {}

.n {}

.o {}

.headLine {
    margin-top: 5vh;
    height: 20vh;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 120%;
    margin-bottom: 10vh;
}

.box {
    font-family: 'Roboto Slab', serif;
    font-size: 90%;
}

.title {
    font-weight: 700;
    font-size: 180%;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}


/* media queries */

@media (min-width: 1150px) {
    #app {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 650px) {
    .grid {}
    .title {
        width: 65%;
        font-size: 120%;
    }
}